.header{
     margin:0 2rem;
     padding: .4rem 0;
     align-items: center;
     display: flex;
     justify-content: space-between;
}
.headerLeft, .headerRight{
      display: flex;
      align-items: center;
}
img{
    height: 60px;
    width: 80px;
}
a > span{
      margin:0 30px;
      font-size: 1.3rem;
      cursor: pointer;
      color: #fff;
}
a > span:hover{
    color:red;
}